body {
    display: grid;
    width: auto;
    height: 100vh;
    margin: 0px;
    background-color: #3d414d;
    color: #b1b1b3;
    font-family: 'Roboto', sans-serif;
}

p {
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 13px;
    font-size: 0.9em;

}

.frame {
    display: grid;
    grid-template-rows: 310px 200px;
    background-color: #3d414d;
    width: 320px;
    height: 580px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    
    -webkit-box-shadow: -8px 12px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -8px 12px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -8px 12px 18px 0px rgba(50, 50, 50, 0.75);
*/
}

.prog {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);


}

#progVal {
    stroke-dasharray: 818.3032;
    stroke-dashoffset: 818.3032;
    /*    animation: progress 60s infinite alternate;*/
}

@keyframes progress {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 818.3032;
    }
}

.slide-box {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 80%;

}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slide::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #52555e;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 40px;
}

#session::-moz-range-thumb {
        background: #45C1BF;
}

#session::-webkit-slider-thumb  {
        background: #45C1BF;
}

#break::-moz-range-thumb {
        background: #D34444;
}

#break::-webkit-slider-thumb  {
        background: #D34444;
}

#timer {
    position: absolute;
    left: 0%;
    top: 39%;
    width: 100%;
    font-size: 2.5em;
    display: grid;
    /*    grid-template-columns: auto auto 17px auto auto 20px auto auto 17px;*/
    justify-content: center;
}

.container {
    position: relative;
}

.sym {
    font-size: 0.5em
}

#timer p {
    position: relative;
    /*    padding-left: 13px;*/
    text-align: center;
    width: 290px;
    margin: auto;
}

#timer span {
    /*
    position: absolute;
    bottom: 4px;
    left: 1px;
*/
    font-size: 0.5em;
    opacity: 0.6;
    text-transform: lowercase;
}

.controls {
    position: absolute;
    left: 36%;
    top: 51%
}

.play {
    width: 34px;
    /*    display: none;*/
    margin-right: 15px;
}

.stop {
    width: 36px;
}

.ctrlRim {
    width: 34px;
    display: none;
    margin-right: 15px;
}

#ctrl {
    z-index: 10;
}

#narrator {
    text-align: center;
}

#stpMe {
    opacity: 0.2;
}

#nameSess {
    color: #45C1BF;
}

#nameBrk {
    color: #D34444;
}